body {
    font-family: Arial, sans-serif;
}

#input-container {
    margin-bottom: 20px;
}

#valores {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
}

#grafico-container {
    width: 600px;
    height: 300px;
    border: 1px solid #ccc;
    margin: 0 auto;
    position: relative; /* Para posicionamento das barras */
}

.barra {
    width: 30px;
    height: 0;
    background-color: #f50e0e;
    margin: 5px;
    position: absolute;
    bottom: 0; /* Adicionei a propriedade bottom */
}

